# .NET
bin/
obj/
*.user
*.suo
*.cache
*.log
*.dll
*.exe
*.pdb

# Angular
node_modules/
dist/
.angular/
*.js.map

# IDE
.vs/
.vscode/
.idea/

# Sensitive Files
appsettings.json
appsettings.Development.json
*.env

# Build/Publish folders
publish/
**/publish/

# OS
.DS_Store
Thumbs.db
nul

# Database
*.db
*.sqlite
*.mdf
*.ldf
